.discussion-board-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    gap: 70px;
    padding-top: 70px;
  }
  
  .menu-item {
    text-align: center;
    background: #262d34;
    border-radius: 6px;
    padding: 10px;
  }
  
  .discussion-board-form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 50px;
    margin-bottom: 100px;
  }
  
  .profile-picture {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #262d34;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 10px;
  }
  
  .profile-picture img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
  }
  
  .form-inputs {
    margin-top: 20px;
  }
  
  .post-input {
    border: none;
    border-radius: 6px;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    width: 300px;
    color: #ffffff;
    background-color: #262d34;
  }
  
  .post-button {
    background: #ff6934;
    border: none;
    border-radius: 6px;
    color: #ffffff;
    padding: 10px 7px;
  }
  
  .post-box {
    display: flex;
    align-items: center;
    background-color: #262d34;
    border-radius: 10px;
    padding: 10px;
    margin-top: 80px;
    padding-left: 20px;
    margin-left: 50px;
    margin-right: 50px;
  }
  
.post-box-content {
  display: flex;
  align-items: center;
  background-color: #262d34;
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
  width: 100%;
  height: 100%;
  gap: 20px;
}

.post-image {
  margin-right: 50px;
}

.post-text {
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  align-self: flex-start;
}

.post-box .profile-picture {
    margin-right: 10px;
    margin-left: auto;
    align-self: flex-start;
  }
  
  .post-box .profile-picture img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
  }
  
  .post-stats {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: #fff;
    margin-top: 100px;
    text-align: right;
  }
  
  .post-stats span {
    margin-right: 70px;
  }
  
  .post-stats span:last-child {
    margin-right: 0;
  }
  
  @media screen and (max-width:764px) {
    .discussion-board-form {
      margin:1px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 5%;
      margin-bottom: 5%;
     
    }
    .discussion-board-menu {
      
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap:5px;
    }
    .post-box-content{
      margin:0;
      display: flex;
      flex-direction: column;
    }
    .post-box{
      margin:10%
    }
    .post-stats{
      margin:0;
      display: flex;
      flex-direction: column;
    }
    .post-stats span{
      margin:0;
    }
    .post-image{
      margin:0;
      scale: 0.5em;
    }
    .post-text{
      align-self: center;
    }
    .profile-picture{
      display: none;
    }
    .post-input{
      width: 220px;
      margin-bottom: 10%;
    }
  }
  @media screen and (max-width:1023px) {
    .profile-picture{
      display: none;
    }
    .post-box{
      padding-left: 0;
      padding: 10px;
    }
    .post-box-content{
      display: grid;
      margin:0;
    }
    .post-image{
      margin-right: 0;
    }
    .post-stats{
      margin-top: 0%;
    }
  }